*{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* Header - Banner Section Start */

header{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../resources/BannerImage.png');
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    max-width: 1320px;
    margin: 0px auto;
    border-radius: 10px;
    filter: brightness('50%');
}

.happy{
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Merriweather';
    padding: 20px 0;
}

.happy-new{
    font-family: 'Merriweather';
    color: #fff;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 0 150px 0;
}

/* Header - Banner Section End */

/* This is  All Categories Start */

.our-holiday{
    text-align: center;
    max-width: 1320px;
    background-position: center;
    margin: 20px auto 50px;
}

.off{
    color: #f00;
    font-family: 'Inter';
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.span-1{
    color: #f00;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 0;
}

.span-2{
    color: #070211;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* This is All Categories End */

/* This is midnight party Start */

.midnight-party{
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(7, 2, 17, 0.00)), url('../resources/vectorrr.png'); */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../resources/vectorrr.png');
    background-repeat: no-repeat;
    display: block;
    justify-content: space-between;
    max-width: 1320px;
    height: 600px;
    display: flex;
    margin: 150px auto 0;
    align-items: center;
}

.welcome-to{
    padding: 104px 130px 95px 125px;
    width: 600px;
    height: 500px;
}

.welcome-now{
    font-family: 'Merriweather';
    font-size: 64px;
    color: #fff;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.dolar{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;  
    color: #fff;
}

.group-70{
    margin: 0 auto;
    padding: 0px 52px 0px 100px;
    width: 319px;
    height: 415px;
}

/* This is midnight party End */

/* Section - New park Hotel Start */

.new-park{
    background-color: rgb(255, 0, 0, 0.10);
    text-align: center;
    max-width: 1320px;
    margin: 150px auto 0px;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    border-radius: 15px;
    padding: 80px 0;
}

.button{
    font-family: 'Inter';
    font-size: 20px;
    margin: 35px;
    padding: 15px 35px;
    background-color: red;
    border-radius: 10px;
    border: none;
    flex-direction: column;
}

/* Section - New park Hotel End */

/* Section - Coming Soon Start */

.coming-Soon{
    background-color: #fff;
    max-width: 1320px;
    margin: 150px auto 0;
    display: flex;
    align-items: center;
    padding: 50px 20px;
    justify-content: space-between;
    gap: 50px;
}

.offer{
    flex: 1;
}

.middle{
    display: flex;
    justify-content: center;
}

.middle img{
    padding: 20px;
    border-radius: 50%;
    border: 20px solid #F00;
}

.offer h3{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer h2{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.offer p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.offer .right h2{
    color: #f00;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Section - Coming Soon End */



/* section - Holidays Sale Start */

.functional-one{
    max-width: 1320px;
    margin: 150px auto 0;
    padding: 150px 0;
}

.what-is{
   text-align: center;
   padding: 0 0 20px;
}

.what-is h2{
    color: #070211;
    font-size: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 0;
}

.what-is h1{
    font-size: 72px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    line-height: 0;
}

.what-is p{
    color: rgb(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.image-65{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

.image-1{
    position: absolute;
}

.image-2{
    position: absolute;
    bottom: 50px;
    right: 280px;
}

.image-3{
    padding-left: 890px;
    display: block;
}

/* section - Holidays Sale End */




/* section - Awesome Portfolio Start */

.section-get{
    max-width: 1320px;
    margin: 150px auto 0;
    padding: 150px 0;
}

.color{
    color: red;
    font-size: 24px;
    font-family: 'Inter';
}

.color-2{
    font-size: 48px;
    font-family: 'Merriweather';
}

.sit{
    font-size: 20px;
}

.is-image{
    display: flex; 
    padding: 10px 0;
    gap: 20px;
    transition: 1s;
}

.rectangle-2:hover{
    transform: scale(1.1);
    z-index: 2;
}

/* section - Awesome Portfolio End */



/* section - Subscribe Newsletter Start  */

.secton-user{
    background-color: rgba(255, 0, 0, 0.05);
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 150px auto 0;
    padding: 150px 0px;
    border-radius: 10px;
}

.subscrie{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    font-family: 'Merriweather';
    margin: 22px;
}

.consectetur{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
    font-style: normal;
    line-height: 32px;
}

.user-name{
    padding: 15px 20px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    width: 525px;
    height: 50px;
    flex-shrink: 0;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.button-2{
    padding: 15px 20px;
    border-radius: 0px 50px 50px 0;
    border: none;
    background-color: red;
    color: #fff;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-transform: capitalize;
    width: 200px;
    height: 75px;
    flex-shrink: 0;
    margin: 48px 0;
}

/* section - Subscribe Newsletter End */


/* section - This is Footer Start */

.footer-p{
    background-color: black;
}

.footer-div{
    max-width: 1320px;
    margin: 150px auto 0;
}

.foot{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.foot-image-4{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

/* section - This is Footer End */